
  /* colores
  #FFF5E4 beige
  #FFC4C4  peach
  #EE6983  pink
  #850E35  maroon*/

.title{
    background-color: #EE6983;
    text-align: center ;
    border-bottom-right-radius: 60px;  /*hace el borde redondo*/
    font-family: "Racing Sans One", sans-serif;
    margin: 20px;
    height: auto;
    color:white;
    padding: 20px;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
    align-items:center;

  
};


#card2{
    display: flex;
    border-color: #EE6983;
    width: 300px;
    border-radius: 8px;
    border: 2px solid  #EE6983;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Raleway", sans-serif; 
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    

 
}
.card{
    background-color: #EE6983;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 250px;
    overflow: hidden;
    text-align: center;
    padding: 15px;

}
.card img{
    width: 100%;
    height: auto;
    border:1px solid#ddd;

}
.prueba{
    padding: 20px;
    margin: 20px;    
};

img {
    max-width: 400px;
    height: 400px;
    margin: 10px;
}

.parrafo{
    font-family:"Raleway", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 20px;
}
.mision, .vision{
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 5px solid;

    
}
 .mision{
    font-weight: bold;
 }
 .vision{
    font-style: italic;
 }

 .card:hover{
    transform: scale(1.05);
    box-shadow: #FFC4C4;
 }
 .card h2{
    font-size: 1.5rem;
    margin: 10px 0;
    color: #FFC4C4;
 }
 .card p{
    font-size: 1rem;
    color:#FFC4C4;
    margin: 5px;

 }