
  

.title{
    background-color: #EE6983;
    text-align: center ;
    border-bottom-right-radius: 60px;  /*hace el borde redondo*/
    font-family: "Racing Sans One", sans-serif;
    margin: 20px;
    height: 100px;

        
};


.card{ 
    border-color: #EE6983;
    width: 300px;
    border-radius: 8px;
    border: 2px solid  #EE6983;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Raleway", sans-serif; 
    
    
};

.card2{
    border-color: #EE6983;
    width: 300px;
    border-radius: 8px;
    border: 2px solid  #EE6983;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Raleway", sans-serif; 
}
