/* colores
  #FFF5E4 beige
  #FFC4C4  peach
  #EE6983  pink
  #850E35  maroon*/
.navbar {
    background-color: #FFF5E4; /*Segun chatgtp con important se logra sobre pasar la especificidad el Boostrap */
}

.navbar .nav-link {
  color: #EE6983;
}

.navbar .btn {
  text-align: center;
  background-color: #850E35;
  color: #ffffff; 
  border: 2px solid #850E35; 
}


.navbar .btn:hover {
  border-color: #ffffff; 
}
